<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input ng-model="lunchItems" id="lunch-menu" type="text"
             placeholder="List some dishes you usually have for lunch, separated by a comma."
             class="form-control">
         </div>
         <div class="form-group">
           <em>Blank items such as ",," or ",   ," are not considered in the count.</em>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Too Much Food?</button>
         </div>
         <div class="form-group message">
           {{feedback}}
         </div>
   </div>

</body>
</html>
