<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/style.css">
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/app.js"></script>
    </head>

    <body ng-app="ShoppingListCheckOff">
        <div class="container-fluid">
            <div class="row">

                <div id="buy" ng-controller="ShoppingListShowController as toBuyList" class="col-sm-6">

                    <ul class="list-unstyled">
                        <li ng-repeat="item in toBuyList.items | filter: {bought:false}" class="well well-sm">{{ item.quantity}} {{ item.name }}</li>
                    </ul>
                    <div id="add" ng-controller="ShoppingListAddController as itemAdder">
                        <input type="text" ng-model="itemAdder.itemName" placeholder="Item Name" />
                        Quantity: <input type="number" ng-model="itemAdder.itemQuantity" min="1" max="99"/>
                        <button ng-click="itemAdder.addItem();" class="btn btn-primary">Add Item</button>
                    </div><!-- ShoppingListAddController -->

                </div> <!-- ToBuyController -->

                <div id="bought" ng-controller="AlreadyBoughtController as bought" class="col-lg-3 col-lg-offset-2">

                    <ul class="list-unstyled">
                        <li></li>
                    </ul>

                </div><!-- AlreadyBoughtController -->

            </div><!-- row -->
        </div><!-- .container-fluid -->
    </body>


</html>
